# Local reference copies of third-party copyrighted material.
# This repo is public: reference documents live here for working use and are
# never committed or republished. Digests in research/ quote sparingly, with
# attribution and evidence tier, per the project's citation discipline.
reference/
